# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{c,C,cpp,cxx,cc,h,hpp}]
indent_style = space
indent_size = 2

[{Makefile,makefile,*.{mk,make,makefile}]
indent_style = tab

[*.md]
trim_trailing_whitespace = true
