##############################
#          VS Code
##############################
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/README.md



##############################
#         Binaries
##############################
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.out
*.exe



##############################
#      Built executables
##############################
chsrc
chsrc-debug
chsrc-release
chsrc-ci-release



##############################
#        Test files
##############################
xy
fw
README.md.bak*
*.tmp

# Generated when testing (when there's a bug)
nul

# 'chsrc set -local' generated
.bundle
.npmrc



##############################
#          Texinfo
##############################
chsrc.aux
chsrc.log
chsrc.toc
*.info
*.pdf



##############################
#         deb package
##############################
# deb package 未归档的目录
pkg/deb/debian/chsrc/

# 下面这个目录包含创建出 $HOME 的虚拟环境
pkg/deb/debian/.debhelper/

pkg/deb/debian/debhelper-build-stamp
pkg/deb/debian/files
pkg/deb/debian/chsrc.debhelper.log
pkg/deb/debian/chsrc.substvars

# 以下为 deb package 构建的直接产物
chsrc_*.deb
chsrc-dbgsym_*.ddeb
chsrc_*.build
chsrc_*.buildinfo
chsrc_*.changes
