.vscode

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.out
*.exe

# target exe name
chsrc

# test files
xy
fw
README.md.bak*

# 'chsrc set -local' generated
.bundle
.npmrc

# Generated when testing
nul

# Cygwin problem
.chsrc_measure_tmp.sh

# Texinfo
chsrc.aux
chsrc.log
chsrc.toc
*.info
*.pdf


##############################
#         DEB package
##############################
# DEB package 未归档的目录
pkg/DEB/debian/chsrc/

# 下面这个目录包含创建出 $HOME 的虚拟环境
pkg/DEB/debian/.debhelper/

pkg/DEB/debian/debhelper-build-stamp
pkg/DEB/debian/files
pkg/DEB/debian/chsrc.debhelper.log
pkg/DEB/debian/chsrc.substvars

# 以下为 DEB package 构建的直接产物
chsrc_*.deb
chsrc-dbgsym_*.ddeb
chsrc_*.build
chsrc_*.buildinfo
chsrc_*.changes
