.vscode

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.out
*.exe

# target exe name
chsrc

# test files
xy
fw
README.md.bak*

# 'chsrc set -local' generated
.bundle
.npmrc

# Generated when testing
nul

# Cygwin problem
.chsrc_measure_tmp.sh

# Texinfo
chsrc.aux
chsrc.log
chsrc.toc
*.info
*.pdf
