name: macOS Build
on:
  push:
    branches: [ "gh-pipeline" ]
  pull_request:
    branches: [ "gh-pipeline" ]

jobs:
  build-and-upload-on-M1:
    runs-on: macos-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Compile chsrc for AArch64
      run: |
        make CI CI_Build_Name=chsrc-aarch64-macos

    - name: List files
      run: ls *-macos

    - name: Release
      uses: softprops/action-gh-release@v1
      # if: startsWith(github.ref, 'refs/tags/')
      with:
        tag_name: pre
        files: |
          chsrc-aarch64-macos
        token: ${{ secrets.CHSRC_UPLOAD }}


  build-and-upload-on-x64:
    runs-on: macos-13 # macos-14 is AArch64(ARMv8-A)

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Compile chsrc for x64
      run: |
        make CI CI_Build_Name=chsrc-x64-macos

    - name: List files
      run: ls *-macos

    - name: Release
      uses: softprops/action-gh-release@v1
      # if: startsWith(github.ref, 'refs/tags/')
      with:
        tag_name: pre
        files: |
          chsrc-x64-macos
        token: ${{ secrets.CHSRC_UPLOAD }}
