# ---------------------------------------------------------------
# Workflow File : PR-notify.yml
# File Authors  : Aoran Zeng <ccmywish@qq.com>
# Contributors  :  Nul None  <nul@none.org>
#               |
# Created On    : <2025-06-19>
# Last Modified : <2025-08-07>
#
# Notify PR
# ---------------------------------------------------------------

name: 告知PR者

on:
  pull_request_target:
    types: [opened,
            ready_for_review, # draft PR 转为正式 PR
            review_requested,
            reopened]

jobs:
  enforce-dev-branch:
    name: 强制使用dev分支
    runs-on: ubuntu-latest
    # github.event.pull_request_target 内容为空，转而用 pull_request
    if: github.event.pull_request.base.ref != 'dev'
    steps:
      - name: 评论
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Hi @${{github.event.pull_request.user.login}},

            ❤️ 感谢你的贡献！你的 PR 当前基于 `${{github.base_ref}}` 分支，请修改使用 `dev` 分支
          comment-tag: "❤️ 感谢你的贡献！"
      - run: |
          echo "::error::❌ PR 必须以 dev 分支为目标！当前是 ${GITHUB_BASE_REF}"
          exit 1

  welcome:
    name: 欢迎PR者
    runs-on: ubuntu-latest
    # 仅在 opened 时欢迎，其他情况都不再重复欢迎了
    if: github.event.pull_request.base.ref == 'dev' && github.event.action == 'opened'
    steps:
      - name: 查看 GitHub Actions 环境
        run: |
          echo "Event 类型: ${{ github.event.action }}"
          echo "Event 名: ${{ github.event_name }}"
      - name: 评论
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Hi @${{github.event.pull_request.user.login}}

            ❤️ 感谢你的贡献！我们将在最少半小时，最多5天内阅读此 PR 并回复你
          edit-mode: replace
          reactions: heart
